{
  "root": true,
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/no-explicit-any": "off"
  },
  "ignorePatterns": ["dist/", "node_modules/"],
  "overrides": [{
    "files": ["*.astro"],
    "parser": "astro-eslint-parser",
    "parserOptions": {
      "parser": "@typescript-eslint/parser",
      "extraFileExtensions": [".astro"]
    }
  }]
}